In [8]:
import pandas as pd
import sqlalchemy 
import psycopg2
import os
import numpy as np

In [4]:
os.environ['POSTGRES_DB']
#os.environ['POSTGRES_PASSWORD']
#os.environ['POSTGRES_USER']
#int(os.environ['MONGO_PORT'])

'superset'

In [7]:
from sqlalchemy import create_engine
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://superset:superset@postgres:5432/superset')
# Create the connection
cnx = create_engine(postgres_str)

In [ ]:
cnx

In [9]:
date = '2020-05-05'

In [34]:

dataTotalRegion = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto4/"+date+"-CasosConfirmados-totalRegional.csv", index_col='Region')

In [35]:
df=dataTotalRegion

In [36]:
index=df.columns.to_list()
for cidx in range(len(df.columns)):
    if '%' in df.columns[cidx]:
        index[cidx]=index[cidx].replace('%','Porcentaje')
        df.columns=index
        col=index[cidx]
        df[col]=df[col].str.replace('%','').astype(float)
    if "*" in df.columns[cidx]:
        index[cidx]=index[cidx].replace('*','')
        df.columns=index

In [37]:
df

,Casos totales acumulados,Casos nuevos totales,Casos nuevos con sintomas,Casos nuevos sin sintomas,Fallecidos,Porcentaje Total
Region,,,,,,
Arica y Parinacota,315,7,7,0,4,1.43
Tarapaca,322,27,14,13,1,1.46
Antofagasta,811,51,41,10,7,3.68
Atacama,78,8,4,4,0,0.35
Coquimbo,97,6,5,1,0,0.44
Valparaiso,687,31,31,0,15,3.12
Metropolitana,14707,1179,1157,22,146,66.80
O'Higgins,136,5,5,0,3,0.62
Maule,408,9,7,2,13,1.85
Nuble,789,2,2,0,17,3.58
Biobio,774,12,11,1,8,3.52
Araucania,1352,21,19,2,36,6.14
Los Rios,199,0,0,0,4,0.90
Los Lagos,525,1,1,0,10,2.38
Aysen,7,0,0,0,0,0.03
Magallanes,809,14,13,1,11,3.67
Total,22016,1317,1317,56,275,100.00

In [40]:
dataTotalRegion.to_sql('test',if_exists='replace', con=cnx)

In [42]:
cnx.table_names()

['ab_role',
 'ab_user',
 'ab_register_user',
 'ab_permission',
 'ab_permission_view',
 'ab_view_menu',
 'ab_user_role',
 'ab_permission_view_role',
 'alembic_version',
 'dashboard_slices',
 'url',
 'css_templates',
 'favstar',
 'dashboard_user',
 'slice_user',
 'access_request',
 'table_columns',
 'logs',
 'keyvalue',
 'annotation_layer',
 'columns',
 'metrics',
 'user_attribute',
 'annotation',
 'dashboard_email_schedules',
 'slice_email_schedules',
 'sqlatable_user',
 'druiddatasource_user',
 'saved_query',
 'tag',
 'tagged_object',
 'clusters',
 'sql_metrics',
 'dashboards',
 'tab_state',
 'table_schema',
 'slices',
 'tables',
 'datasources',
 'row_level_security_filters',
 'rls_filter_roles',
 'query',
 'dbs',
 'test']